<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="javascript:void(0);" ng-click="getAllBlogs()"> All-Blogs</a></li>
        <li><a href="javascript:void(0)" ng-click="getPendingBlogs('pending')">Pending Blogs</a>
        <li><a href="#/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a style="color: yellow;">Welcome! {{ userName }} </a></li> 
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Sign-out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row content">
   <div class="col-sm-3 sidenav">
      <h4>Featured Blogs</h4>
        <ul class="nav nav-pills nav-stacked">
        <li><a  href="javascript:void(0);"  ng-click="getAllBlogs()">All Blogs</a></li>
      </ul>
      <ul class="nav nav-pills nav-stacked" ng-repeat="blogtype in blogTypes | orderBy:'-' " >
        <li ><a href="javascript:void(0);" ng-click="fetchTypeBlogs(blogtype._id)">{{blogtype.name}}</a></li> 

      </ul><br>
       <div>{{ errMsg }}</div>
      <div class="input-group">

        <input type="text" class="form-control" data-ng-model="blog.type" placeholder="Add New Blog Type">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="addBlogType()" style="padding: 6.1px;border-bottom: 2px;">
            Add
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-9">
    
      <h4><small>POSTS</small></h4>
      <hr>
      <div ng-repeat="blog in blogDetail | orderBy:'-' ">
      <h4> <small>User Name :</small> {{ blog.name}}</h4>
        <h2>{{blog.title}}</h2>
        <h5><span class="glyphicon glyphicon-time"></span> Post by {{ blog.stringDate }}</h5>
        <p style="text-align:justify;">{{blog.content}}</p>
        <p>Current Status :{{blog.status}}</p>
         <div ng-if="blog.status == 'pending' "> 
          <button type="button" class="btn btn-primary"  ng-click="updateStatus('Enabled', this.blog._id)" style="margin:3px 6px;padding:3px 3px;">Enable Status</button><br>
          </div>
                    <button type="button" class="btn btn-danger" ng-click="deleteBlog(blog._id)" style="margin:0px 6px;padding:5px 5px; float:right;">Delete Blog</button>
          <hr style="color:black">
      </div>
    
    <hr>

    
      
     
    </div>
  </div>
</div>

<footer class="container-fluid">
<!--   <h3>Stark</h3> -->
</footer>
