<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- <a class="navbar-brand" href="#">STARK</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/">Home</a></li>
        <li><a href="#/profile">Profile</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a style="color: yellow;">Welcome! {{ userName }} </a></li> 
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Sign-out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Featured Blogs</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a  href="javascript:void(0);"  ng-click="getAllBlogs()">All Blogs</a></li>
      </ul>
      <ul class="nav nav-pills nav-stacked" ng-repeat="blogtype in blogTypes | orderBy:'-'" >
        <li ><a href="javascript:void(0);" ng-click="foodBlogs(blogtype._id)">{{blogtype.name}}</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-9">
    <h2>Add Your Blog</h2>
     <form>
        <div class="form-group">
        <label for="sel1" >Blog Type : </label><br>
        <select class="form-control" id="sel1" ng-model="blog.type" style="width:30%;" >
        <option value="" disabled selected>Type of Blog </option>
        <option ng-repeat="blogtype in blogTypes" value="{{blogtype._id}}">{{blogtype.name}}</option>
        </select>
         <label for="Titel" style="margin-top:12Px;">Blog Title:</label>
          <input type="text" class="form-control" ng-model="blog.title" name="title" placeholder="Enter Title for you blog">
          <label for="comment" style="margin-top:12Px;"> Blog's detail:</label>
          <textarea class="form-control" rows="5" ng-model="blog.comment" id="comment" placeholder="Enter contents for blog "></textarea>
          <button type="button" class="btn btn-primary" ng-click="addBlog()" style="margin: 12px 0px;     padding: 6px 20px;">Add Blog</button>

       
    </div>
    </form>
      <h4><small>RECENT POSTS</small></h4>
      <hr>
      <div ng-repeat="blog in blogDetail | orderBy:'-' ">
        <div ng-if="blog.status == 'Enabled'">
        <h2><a href="#/blog/{{blog._id}}" >{{blog.title}}</a></h2>
        <h5><span class="glyphicon glyphicon-time"></span> Post by {{ blog.stringDate }}</h5>
        <p style="text-align:justify;">{{blog.content}}</p>
        </div>
      </div>
    <hr>

    
      
     
    </div>
  </div>
</div>

<footer class="container-fluid">
<!--   <h3>Stark</h3> -->
</footer>
