<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- <a class="navbar-brand" href="#">STARK</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="#/">Home</a></li>
        <li class="active" ><a href="#/profile">Profile</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a style="color: yellow;">Welcome! {{ userName }} </a></li> 
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Sign-out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    <h1>Edit Profile</h1>
    <hr>
  <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <div ng-if="fileDetail.originalname">
          <img ng-src="../img/{{fileDetail.originalname}}" class="avatar img-circle" alt="photo" style="width:20%;height: 20%">
          </div>
          <div ng-if="!fileDetail.originalname">
          <img ng-src="../img/{{UserDetail.imagename}}" class="avatar img-circle" alt="photo" style="width:20%;height: 20%">
          </div>
          <h6>Upload your photo...</h6>
          
          <input type="file" class="form-control" onchange="angular.element(this).scope().onFileSelect(this)">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        
        <h3>Personal info</h3>
        
        <form class="form-horizontal" role="form" >
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text"  ng-model="UserDetail.firstname" placeholder="Enter Name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" ng-model="UserDetail.lastname"  placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Company:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" ng-model="UserDetail.company"  value="Company">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" ng-model="UserDetail.email">
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" type="text"  ng-model="UserDetail.username" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
    <input type="button" class="btn btn-primary" value="Save Changes" ng-click="uploadUsersDetail()">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
<footer class="container-fluid">
<!--   <h3>Stark</h3> -->
</footer>